<div lass="bg-gradient-to-r from-blue-100 to-indigo-200 p-0 m-0 h-[100vh]">
  <div class="bg-gradient-to-r from-blue-300 to-indigo-400 shadow-lg p-4 mb-6">
    <div class="flex items-center justify-between">
      <!-- Back button with more subtle styling -->
      <button mat-mini-fab color="primary" (click)="onBackClick()">
        <mat-icon>arrow_back</mat-icon>
      </button>

      <!-- Right side with logout and language -->
      <div class="flex items-center space-x-2">
        <app-language-selector class="mr-4" />

        <button
          class="bg-red-500 hover:bg-red-600 text-white rounded-md p-3 transition-all duration-300 flex items-center"
          (click)="onLogoutClick()"
        >
          <mat-icon class="mr-1">exit_to_app</mat-icon>
          <span class="hidden sm:inline">{{
            "common.logout" | translate
          }}</span>
        </button>
      </div>
    </div>
  </div>

  <div class="px-6 max-w-xl mx-auto">
    <div class="flex items-center my-6">
      <div class="w-1 h-8 bg-indigo-500 rounded-full mr-3"></div>
      <h1 class="text-2xl font-bold text-gray-800 tracking-tight">
        @if(isEditMode){
        {{ "common.edit-user" | translate }}
        }@else {
        {{ "common.create-user" | translate }}
        }
      </h1>
    </div>

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="space-y-2">
      <mat-form-field class="w-full">
        <mat-label>{{ "user.form.firstName" | translate }} </mat-label>
        <input matInput formControlName="first_name" required />
        @if (userForm.get('first_name')?.hasError('required')) {
        <mat-error>First name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ "user.form.lastName" | translate }}</mat-label>
        <input matInput formControlName="last_name" required />
        @if (userForm.get('last_name')?.hasError('required')) {
        <mat-error>Last name is required</mat-error>
        }
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ "user.form.username" | translate }}</mat-label>
        <input matInput formControlName="username" required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ "user.form.email" | translate }}</mat-label>
        <input matInput formControlName="email" required />
      </mat-form-field>

      <mat-form-field class="w-full">
        <mat-label>{{ "user.form.role" | translate }}</mat-label>
        <mat-select formControlName="role_permission" required>
          <mat-option value="ADMIN">ADMIN</mat-option>
          <mat-option value="WORKER">WORKER</mat-option>
        </mat-select>
      </mat-form-field>

      <div class="flex justify-end space-x-4">
        <button mat-button type="button" (click)="goBack()">
          {{ "user.action.cancel" | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="userForm.invalid"
          class="bg-blue-600"
        >
          {{
            isEditMode
              ? ("user.action.update" | translate)
              : ("user.action.create" | translate)
          }}
        </button>
      </div>
    </form>
  </div>
</div>
